.form-wrapper {
    position: absolute;
    width: 620px;
    height: 241px;
    left: 137px;
    top: 115px;
    background-color: #CED4DA;
}

h2.title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}